@import "../../vars.css";

.pj-container {
  display: flex;
  margin-bottom: 14rem;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
}

.weather {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 1700px) {
  .project-left {
    margin-left: 11rem;
  }
}

.project-left {
  align-self: flex-start;
  margin-left: 22rem;
}
.project {
  position: relative;
  display: flex;
  margin-bottom: 14rem;
  justify-content: flex-start;
}

.project__image-container {
  position: relative;
  height: fit-content;
  width: 50rem;
  background-color: #3216bb;
  transition: all 0.2s;
  cursor: pointer;
}

.project__image-image {
  width: 85%;
  margin-top: 100px;
  position: relative;
}

.project__image-image img {
  width: 100%;
}

.project-left .project__info {
  left: -8rem;
  margin-right: -2rem;
}
.project__info {
  position: relative;
  background-color: red;
  top: 8rem;
  height: fit-content;
  padding: 1rem;
  z-index: 9999999;
}

.project__title {
  position: relative;
  z-index: 66;
  font-size: 3.5rem;
}

.project__description {
  position: relative;
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 500;
  z-index: 999909999;
}

.project__live-2 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 1rem 1.2rem;
  position: relative;
  margin-top: 3rem;
  cursor: pointer;
}

.project__live-2:after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #ff4d5a;
  width: 100%;
  bottom: 1px;
  display: block;
  transform-origin: bottom;
  transition: all 0.25s;
  z-index: -1;
}

/* .pj-precontainer {
  position: relative;
  width: 20rem;
  transition: all 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
} */

.pj-image-container {
  width: 85%;
  height: 85%;
  position: relative;
}

.pj-image {
  width: 100%;
}

.pg-title {
  font-size: 25px;
  font-weight: 700;
}

.pg-description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.pg-skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.pg-skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.pg-links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.pg-link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
