@import "../../vars.css";

.pc-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30rem;
}

.pc-left-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: red;
  width: 75%;
  height: 80%;
  transition: transform 0.2s ease-in-out;
}

.pc-left-container > img {
  width: 90%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  transform: scale(
    0.9
  ); /* Riduci le dimensioni quando il cursore è sopra l'elemento */
}
