@import "../../vars.css";

body {
  color: white;
  font-family: var(--font-text-main);
}

.pc-right-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30rem;
  z-index: 10;
  justify-content: flex-end;
}

.pcr-line {
  display: flex;
  width: 10px;
  height: 100%;
  background-color: var(--color-tertiary);
  margin-left: 5px;
}

.pcr-r-container {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.pcr-r-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.pcr-r-container:hover {
  transform: scale(0.9);
}

.pcr-l-container {
  width: 350px;
  height: 340px;
  z-index: 11;
}

.pcr-right-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  margin-top: 30px;
  width: 350px;
  height: fit-content;
  padding: 30px 20px 30px 20px;
  transform: translate(20%, 0%);
  background-color: #0bd7cdaf;
  gap: 10px;
}

.pcr-title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 0;
}

.pcr-description {
  font-weight: 400;
}

.pcr-skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.pcr-skill {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--color-bg);
  padding: 2px 22px;
  user-select: none;
}

.pcr-source {
  width: 100%;
  height: 20px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pcr-source > h1 {
  font-size: 15px;
}

.pcr-git {
  width: auto;
  height: 100%;
}

.pcr-git > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media screen and (max-width: 1400px) {
  .pc-right-container {
    height: 25rem;
  }
}

@media screen and (max-width: 1200px) {
  .pc-right-container {
    height: 20rem;
    width: fit-content;
  }
  .pcr-right-info {
    width: 350px;
    transform: translate(10%, 0%);
  }
  .pcr-title {
    font-size: 2vw;
  }

  .pcr-skill {
    font-size: 1vw;
  }

  .pcr-source > h1 {
    font-size: 1.2vw;
  }

  .pcr-description {
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 1060px) {
  .pc-right-container {
    height: 20rem;
  }
  .pcr-l-container {
    height: 100%;
    width: auto;
  }
  .pcr-right-info {
    width: 300px;
    position: relative;
    transform: translate(0%, 0%);
    margin-top: 0;
    height: 100%;
  }
  .pcr-title {
    font-size: 3vw;
  }

  .pcr-skill {
    font-size: 1.5vw;
  }

  .pcr-source > h1 {
    font-size: 1.5vw;
  }

  .pcr-description {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 980px) {
  .pc-right-container {
    height: 15rem;
  }
  .pcr-r-container {
    height: 100%;
    width: auto;
  }
  .pcr-right-info {
    position: relative;
    transform: translate(0%, 0%);
    margin-top: 0;
    height: 100%;
  }
  .pcr-title {
    font-size: 2vw;
  }

  .pcr-skill {
    font-size: 1.2vw;
  }

  .pcr-source > h1 {
    font-size: 1.5vw;
  }

  .pcr-description {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 840px) {
  .pc-right-container {
    flex-direction: column;
    width: 100%;
    margin-top: 400px;
  }
  .pcr-l-container {
    width: 100%;
    height: fit-content;
  }
  .pcr-right-info {
    width: 100%;
    height: fit-content;
  }
  .pcr-title {
    font-size: 3vw;
  }

  .pcr-skill {
    font-size: 2vw;
  }

  .pcr-source > h1 {
    font-size: 1.5vw;
  }

  .pcr-description {
    font-size: 2vw;
  }
}
