@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(165, 215, 232, 0.069);
  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.about {
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.description {
  color: var(--color-text);
  font-size: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.aboutImage {
  width: 35%;
  border-radius: 50%;
  object-fit: cover;
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-image: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}

.tabsArea {
  margin-top: 30px;
}

.tabs {
  display: flex;
  color: var(--color-text);
  gap: 80px;
  flex-wrap: wrap;
  list-style: none;
}

.tabs .tab {
  position: relative;
  margin: 0 10px;
  display: inline-block;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in;
}

ul.tabs li:before {
  position: absolute;
  content: "";
  width: 30px;
  background: rgba(255, 255, 255, 0.587);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  height: 2px;
  bottom: 0;
}

.react-tabs__tab--selected {
  background: #fff;
  border-color: #aaa;
  color: #f9004d;
  text-decoration: underline;
  text-underline-offset: 10px;
  border-radius: 5px 5px 0 0;
}

.tabContent {
  padding-top: 20px;
  padding-left: 10px;
}

.tabContent ul li {
  color: #ffffff;
  font-size: 16px;
  line-height: inherit;
  margin-bottom: 15px;
  font-weight: 300;
  list-style: none;
}

.tabContent ul li a {
  font-weight: 500;
  display: block;
  color: #ffffff;
  transition: all 0.4s ease-in-out 0s;
  text-decoration: none;
}
