@import "../../vars.css";

.contact-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  margin-top: 150px;
  margin-left: 15%;
  margin-right: 15%;
  overflow-x: hidden;
  gap: 60px;
}

.contact-t-container {
  position: relative;
}

.contact-t-container h1 {
  font-size: 70px;
  color: var(--color-text);
  font-family: var(--font-text-title);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  padding-bottom: 20px;
}
.contact-t-container h1:before {
  background-color: #0bd7ce;
  content: "";
  display: block;
  height: 3px;
  width: 110px;
  margin-bottom: 5px;
}
.contact-t-container h1:after {
  background-color: #fe3e57;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 110px;
  margin-bottom: 0.25em;
}

.contact-b-container {
  width: 100%;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.contact-form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.contact-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.contact-input > label {
  font-size: 22px;
  text-transform: uppercase;
}

.contact-input > input {
  width: 100%;
  resize: none;
  border: none;
  color: inherit;
  background-color: #282828;
  font-size: 1.6rem;
  font-family: monserrat, sans-serif;
  border-left: 2px solid transparent;
  border-radius: 0;
  margin-bottom: 6px;
  padding: 1rem;
  height: 3rem;
}

.message > input {
  height: 300px;
}

input:focus {
  outline: none; /* Rimuove l'outline quando l'input è in focus */
}

input::placeholder {
  color: #999; /* Colore del placeholder */
  font-size: 14px; /* Dimensione del carattere del placeholder */
  /* Aggiungi altri stili desiderati */
}

.contact-button {
  padding: 1rem;
  font-size: 1.5em;
  width: 100%;
  cursor: pointer;
  border: 0px;
  position: relative;
  transition: all 0.25s ease;
  background: var(--color-tertiary);
  color: #fff;
  overflow: hidden;
  text-align: center;
  line-height: normal;
}

.contact-bs {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.contact-bs::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading1 1s ease infinite;
  z-index: 10;
}

.contact-bs::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 3px dashed #fff;
  width: 30px;
  height: 30px;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  animation: loading 2s linear infinite;
  z-index: 5;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact-button.active {
  transform: scale(0.85);
}

.contact-button.activeLoading .contact-bs {
  visibility: visible;
  opacity: 1;
}

.contact-button .contact-bs {
  opacity: 0;
  visibility: hidden;
}

.button-ok {
  background-color: #33b249;
}

.button-error {
  background-color: #e25141;
}

@media screen and (max-width: 500px) {
  .contact-t-container > h1 {
    font-size: 13vw;
  }
}
