@import "../../vars.css";

.navbar {
  position: fixed;
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 10px;
  z-index: 2;
  transition: padding 0.3s ease-in-out; /* Aggiungi una transizione per l'animazione dell'altezza */
}

.nav-shrink {
  padding-top: 10px;
  background-color: #141416d4;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

.navbarContent {
  display: flex;
  padding: 10px;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: space-between;
  align-items: center;
  transition: height 0.3s ease-in-out; /* Aggiungi una transizione per l'animazione dell'altezza */
}

.nav-titleContainer {
  display: flex;
  text-decoration: none;
}

.nav-title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.nav-inside {
  color: var(--color-tertiary);
}

.nav-menu {
  display: flex;
}

.nav-menuBtn {
  display: none;
}

.nav-menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.nav-menuItem {
  transition: color 0.3s ease;
}

.nav-menuItem:hover {
  color: var(--color-tertiary);
}

.nav-menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .nav-menuBtn {
    display: block;
    cursor: pointer;
  }

  .nav-menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .nav-menuOpen {
    display: flex;
    z-index: 1;
  }
}
