@import "../../vars.css";

.footer-container {
  display: flex;
  width: 100%;
  height: 500px;
  background-color: #282828;
  padding: 50px;
}

.footer-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 50px;
  gap: 50px;
}

.fl-title {
  font-size: 3rem;
  text-transform: uppercase;
}

.fl-description {
  font-size: 1.2rem;
  font-family: var(--font-text-light);
}

.footer-r {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-right: 50px;
}

.fr-l {
  background: #1a1a1a;
  width: 20rem;
  height: 20rem;
  border-radius: 30px 0px 30px 0px;
  font-weight: 700;
  padding: 1rem;
  box-shadow: 20px 20px 0px rgb(254, 62, 87);
  transform-style: preserve-3d;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: white;
}

.fr-r {
  background: #1a1a1a;
  width: 20rem;
  height: 20rem;
  border-radius: 30px 0px 30px 0px;
  font-weight: 700;
  padding: 1rem;
  box-shadow: 20px 20px 0px rgb(11, 215, 206);
  transform-style: preserve-3d;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  user-select: none;
  gap: 20px;
  text-decoration: none;
  color: white;
}

.fr-r:hover {
  transform: scale(0.9);
}

.fr-l:hover {
  transform: scale(0.9);
}

.fr-l > img {
  width: 20%;
  height: auto;
}

.fr-l > h1 {
  font-size: 3vw;
}

.fr-r > h1 {
  font-size: 3vw;
}

.fr-r > img {
  width: 20%;
  height: auto;
}

@media screen and (max-width: 1240px) {
  .footer-r > a {
    width: 15rem;
    height: 15rem;
  }

  .footer-container {
    height: 350px;
  }

  .footer-l {
    gap: 20px;
    padding: 10px;
    justify-content: center;
  }
  .fl-title {
    font-size: 3vw;
  }

  .fl-description {
    font-size: 1.5vw;
  }
}

@media screen and (max-width: 1080px) {
  .footer-r > a {
    width: 10rem;
    height: 10rem;
  }

  .footer-container {
    height: 300px;
  }

  .footer-l {
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-title {
    font-size: 3vw;
  }

  .fl-description {
    font-size: 1.5vw;
  }

  .fr-l > h1 {
    font-size: 2vw;
  }

  .fr-r > h1 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 965px) {
  .footer-r > a {
    width: 8rem;
    height: 8rem;
  }

  .footer-container {
    height: 250px;
  }

  .footer-l {
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-title {
    font-size: 3vw;
  }

  .fl-description {
    font-size: 1.5vw;
  }

  .fr-l > h1 {
    display: none;
  }

  .fr-r > h1 {
    display: none;
  }

  .fr-l > img {
    width: 50%;
    height: auto;
  }

  .fr-r > img {
    width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 780px) {
  .footer-r > a {
    width: 5rem;
    height: 5rem;
  }

  .footer-container {
    height: 200px;
  }

  .footer-l {
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fl-title {
    font-size: 3vw;
  }

  .fl-description {
    font-size: 1.5vw;
  }

  .fr-l > h1 {
    display: none;
  }

  .fr-r > h1 {
    display: none;
  }

  .fr-l > img {
    width: 80%;
    height: auto;
  }

  .fr-r > img {
    width: 80%;
    height: auto;
  }
}
