@font-face {
  font-family: "Almarose Light Regular";
  src: url("/fonts/Almarose Light Regular.otf") format("otf"); /* Assicurati di specificare il formato corretto */
}

@font-face {
  font-family: "Almarose-Bold";
  src: url("/fonts/Almarose-Bold.otf") format("otf"); /* Assicurati di specificare il formato corretto */
}

:root {
  /*colors*/
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-tertiary: #fe3e57;
  --color-extra: #0bd7ce;
  --color-dark: #0b2447;
  --color-bg: #141416;

  /* fonts */
  --font-roboto: "Roboto";
  --font-almaroselight: "Almarose Light Regular";
  --font-almarosebold: "Almarose-Bold";
}
