:root {
  /*colors*/
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-tertiary: #fe3e57;
  --color-extra: #0bd7ce;
  --color-dark: #0b2447;
  --color-bg: #0a203d;

  /* fonts */
  --font-roboto: "Roboto";
}
