@font-face {
  font-family: "Almarose-Thin";
  src: url("src/public/fonts/Almarose-Thin.otf") format("opentype"); /* Assicurati di specificare il formato corretto */
}

@font-face {
  font-family: "Almarose-Black";
  src: url("src/public/fonts/Almarose-Black.otf") format("opentype"); /* Assicurati di specificare il formato corretto */
}

@font-face {
  font-family: "Almarose-Thin";
  src: url("src/public/fonts/Almarose-Thin.otf") format("opentype"); /* Assicurati di specificare il formato corretto */
}

:root {
  /*colors*/
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-tertiary: #fe3e57;
  --color-extra: #0bd7ce;
  --color-dark: #0b2447;
  --color-bg: #1a1a1a;

  /* fonts */
  --font-roboto: "Roboto";
  --font-text-main: "Almarose-Thin";
  --font-text-title: "Almarose-Black";
  --font-text-light: "Almarose-Thin";
}
